<div class="context">
  <main>
    <button (click)="back()">Voltar</button>
    <h2>Criar Receita</h2>
    <span></span>
  </main>
  <section>
    <div>
      <form [formGroup]="form">
        <div class="form">
          <span>
            <label>Nome</label>
            <input formControlName="nome" />
          </span>

          <span>
            <label>Tempo de Preparo</label>
            <input formControlName="tempoPreparo" type="number" />
          </span>

          <span>
            <label>Custo Aproximado</label>
            <input formControlName="custoAproximado" type="number" />
          </span>
        </div>
      </form>
    </div>

    <div class="ingredientes">
      <span class="header">
        <p>Ingredientes</p>
        <span>
          <button (click)="criarIngrediente()">Criar</button>
          <button (click)="openIngredientes()">Ver</button>
        </span>
      </span>

      @if (showIngredientes) {
      <span class="content">
        @for (ingrediente of ingredientes(); track $index) {
        <span class="item">
          <span>{{ $index + 1 }} - {{ ingrediente.nome }}</span>
          <span>
            <button type="button" (click)="editarIngrediente(ingrediente)">Editar</button>
            <button type="button" (click)="deletarIngrediente(ingrediente)" class="cancelar">
              Deletar
            </button>
          </span>
        </span>
        }
      </span>
      }
    </div>

    <div class="buttons">
      <button (click)="back()" class="cancelar">Cancelar</button>
      <button (click)="save()" [disabled]="this.form.invalid">Salvar</button>
    </div>
  </section>
  <footer>
    <p>Todos os direitos reservados.</p>
  </footer>
</div>

@if (showModal) {
<div class="modal">
  <div class="content">
    <header>Ingrediente</header>

    <main>
      <form [formGroup]="ingredientForm">
        <span>
          <label>Nome</label>
          <input formControlName="nome" />
        </span>
      </form>
    </main>

    <footer>
      <button type="button" (click)="toggleModal()" class="cancelar">Cancelar</button>
      <button type="button" (click)="salvarIngrediente()">Salvar</button>
    </footer>
  </div>
</div>
}
