.context {
  padding: 20px;
  display: grid;
  grid-template-rows: 80px 78vh 80px;

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    padding: 0 20px;
    border-radius: 10px;

    button {
      padding: 20px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background-color: #4e2727;
      color: white;
      font-weight: bold;
      height: 40px;
      cursor: pointer;
      border: 0;

      &:hover {
        background-color: #8d5858;
      }
    }
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .form {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      gap: 20px;

      span {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 2px;
          font-size: 14px;
          color: #4d4b4b;
        }

        input {
          padding: 0 10px;
          outline: 0;
          height: 30px;
        }
      }
    }
  }

  .ingredientes {
    display: flex;
    flex-direction: column;

    .header {
      border: 1px solid #b3b0b0;
      background-color: #e7e5e5;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      font-weight: 500;
      border-radius: 10px;

      span {
        display: flex;
        gap: 10px;
      }

      span button {
        color: white;
        border-radius: 10px;
        background-color: rgb(85, 20, 20);
        padding: 5px 30px;
        border: 0;
        cursor: pointer;
      }
    }

    .content {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;
        border-bottom: 1px solid #4d4b4b;

        span {
          display: flex;
          gap: 10px;

          button {
            padding: 5px 20px;
            border-radius: 5px;
            font-weight: 400px;
            background-color: #075a19;
            color: white;
            border: 0;
            cursor: pointer;
            background-color: #075a19;
            border: 1px solid #075a19;
            color: white;

            &:hover {
              background-color: white;
              border: 1px solid #075a19;
              color: #075a19;
            }

            &.cancelar {
              background-color: white;
              color: #4e2727;
              border: 1px solid #4e2727;

              &:hover {
                background-color: #4e2727;
                color: white;
                border: 1px solid white;
              }
            }
          }
        }
      }
    }
  }

  .buttons {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;

    button {
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: 400px;
      background-color: #075a19;
      color: white;
      border: 0;
      cursor: pointer;
      background-color: #075a19;
      border: 1px solid #075a19;
      color: white;

      &:hover {
        background-color: white;
        border: 1px solid #075a19;
        color: #075a19;
      }

      &.cancelar {
        background-color: white;
        color: #4e2727;
        border: 1px solid #4e2727;

        &:hover {
          background-color: #4e2727;
          color: white;
          border: 1px solid white;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkolivegreen;
    color: white;
    border-radius: 10px;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.5);

  .content {
    min-width: 300px;
    min-height: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #e9e6e6;
    display: flex;
    flex-direction: column;
    gap: 20px;

    header {
      padding: 10px;
      border-bottom: 1px solid #4d4b4b;
      text-align: center;
    }

    main {
      min-height: 300px;

      span {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 2px;
          font-size: 14px;
          color: #4d4b4b;
        }

        input {
          padding: 0 10px;
          outline: 0;
          height: 30px;
        }
      }
    }

    footer {
      display: flex;
      gap: 10px;
      justify-content: flex-end;

      button {
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 400px;
        background-color: #075a19;
        color: white;
        border: 0;
        cursor: pointer;
        background-color: #075a19;
        border: 1px solid #075a19;
        color: white;

        &:hover {
          background-color: white;
          border: 1px solid #075a19;
          color: #075a19;
        }

        &.cancelar {
          background-color: white;
          color: #4e2727;
          border: 1px solid #4e2727;

          &:hover {
            background-color: #4e2727;
            color: white;
            border: 1px solid white;
          }
        }
      }
    }
  }
}
